/.idea/.idea.CosoRMFDevOps.dir/.idea/.gitignore
/.vs/CosoRMFDevOps/v17
/RMF.DevOps/.vs/RMF.DevOps/FileContentIndex
/RMF.DevOps/obj/Debug/net7.0
/RMF.DevOps/obj
/RMF.DevOps/.vs/RMF.DevOps/v17
/RMF.DevOps/bin/Debug/net7.0
